.menu-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {

    .menu-loading {
      position: absolute;
      top: 50%;
      left: 60%;
      right: auto;
      bottom: auto;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
}